.StudentAccountContent {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.student_account_header {
    display: grid;
    grid-template-columns: 50% auto auto;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    height: 70px;
}

.student_account_header .title span {
    color: #003366;
    margin-left: 50px;
    font-size: 30px;
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 0;
    margin-bottom: 0px;
}

.student_account_header button {
    width: 150px;
}

.StudentAccountContent>hr {
    margin-left: 40px;
    height: 10px;
}

.student_information_container {
    margin: 30px 50px 100px 50px;
    padding: 20px;
    width: 70%;
    height: auto;
    background-color: rgb(205, 224, 241);

    display: inline-flex;
    flex-direction: column;

    flex-basis: 90px;
}

.student_information_container>div {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 4fr 6fr;
    gap: 20px;
    margin: 7px 50px 20px 50px;
    padding-top: 10px;
}

.student_information_container>div>.title {
    color: #003366;
    font-size: 20px;
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}

.student_information_container>div>.value {
    color: #003366;
    font-size: 20px;
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

.student_information_container .programstartdate .value {
    display: inline-flex;
}

.student_information_container .expectedgraduationdate .value {
    display: inline-flex;
}