/* Application content */


.StudentApplicationsContent {
    width: 100%;
    display: grid;
    grid-template-columns: 170px 1fr;
    grid-template-rows: 80px 10px auto;
    background-color: #fff;

}

.StudentApplicationsContent .department_title_container {
    width: 95%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;

    grid-column: 1 / 3;

    border: 0px solid rgba(0, 0, 0, 0.5);
    border-width: 0px 0px 0.5px 0px;
}

.StudentApplicationsContent .department_title_container span {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #003366;
}


.StudentApplicationsContent .semesters_container {
    grid-row: 2 / 4;
    width: 170px;
    height: 100%;
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    margin-left: 25px;
    margin-top: 20px;
}

.StudentApplicationsContent .semester-button-in-applications {
    border: none;
        background-color: white;
        color: #0056b3;
        cursor: pointer;
        font-size: 14px;
        height: 35px;
        width: 100%;
        padding: 10px;
        text-align: left;
        transition: background-color 0.3s ease, color 0.3s ease;
}

.StudentApplicationsContent .semester-button-in-applications.active_semester_button_in_applications {
    color: rgb(45, 59, 69);
        border-left: 4px solid rgb(45, 59, 69);
}

.StudentApplicationsContent .semester-button-in-applications span {
    text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
}




.StudentApplicationsContent .applications_sort_container {
    height: 10px;
    background-color: #fff;
}




.StudentApplicationsContent .applications_list_container {
    padding: 20px 50px;

    background-color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
}

.applications_list_container.disabled {
    pointer-events: none;
}

.application_container {
    width: 90%;
    background-color: #fff;
    padding-left: 30px;
    padding-right: 20px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 150px 170px 70px;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;

    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}


.application_container:hover {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.StudentApplicationsContent .cannot_edit_application {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 50px;
    padding: 20px 50px;
}

.StudentApplicationsContent .cannot_edit_application span {
    color: red;
    font-size: 20px;
}

.course_details_container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.course_details_container .course_title, .course_name, .course_number {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.course_details_container .course_title span {
    font-size: 18px;
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(131, 3, 3);
}

.course_details_container .course_number span {
    font-size: 18px;
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(131, 3, 3);
}

.course_details_container .course_name span {
    font-size: 18px;
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(131, 3, 3);
}




.eligibility_criteria_items_container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 50px;
}

.eligibility_criteria_items_container .select_that_apply span {
    font-size: 16px;
}

.eligibility_criteria_items_container .eligibility_criteria_item {
    display: inline-flex;
    gap: 15px;
    margin-left: 15px;
}

.eligibility_criteria_items_container .title {
    font-size: 16px;
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgb(3, 25, 96);
}

.criteria {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.criteria svg {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    fill: #003366;
}

.criteria input[type="checkbox"] {
    margin-left: 5px;
}

.comments {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

.comments span {
    font-size: 16px;
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    color: black;
}

.comments .value {
    width: 95%;
    height: 120px;
    background-color: #e7e7e7;
    border-radius: 10px;
    margin-top: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.comments .value span {
    color: #003366;
    width: 95%;
    height: 100%;
    font-weight: 400;
    font-size: 15px;
}

.comments textarea {
    padding: 5px;
    width: 100%;
    height: 100%;
    text-wrap: wrap;
    resize: none;
    border: none;
    border-radius: 10px;
    background-color: #e7e7e7;
}

.application_container .edit_delete_save_cancel_btns_container {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-basis: 120px;
    gap: 15px;
}

.application_container .edit_btn {
    width: 100px;
    height: 30px;
    background-color: #0d6efd;
    border: none;
    border-radius: 5px;
    color: white;
}

.application_container .delete_btn {
    width: 100px;
    height: 30px;
    background-color: #6c757d;
    border: none;
    border-radius: 5px;
    color: white;
}

.application_container .save_btn {
    width: 150px;
        height: 30px;
        background-color: green;
        border: none;
        border-radius: 5px;
        color: white;
}

.application_container .cancel_btn {
    width: 150px;
        height: 30px;
        background-color: rgb(219, 60, 60);
        border: none;
        border-radius: 5px;
        color: white;
}



/* End of Application Content */



.overlayContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    /* Make sure this is high enough */
}


/* Button styles for testing 
.view_message_btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px;
}

.view_message_btn:hover{
    background-color: #0066d2;
    color: white;
}

*/

/* Message container styles */
.message_container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1005;
    /* Higher than overlay */
}

.congratulations_title {
    align-self: center;
}

.message_container .congratulations_title span{
    font-size: 25px;
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(3, 25, 96);
}