.StaffSelectedApplicantsContent {
    width: 100%;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 60px 10px auto;
}

.StaffSelectedApplicantsContent .department_title_container {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    grid-row-start: 1;
    grid-row-end: 2;

    grid-column-start: 1;
    grid-column-end: 3;
}

.StaffSelectedApplicantsContent .department_title_container span {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(131, 3, 3);
}



.StaffSelectedApplicantsContent .semesters_container {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    box-shadow: 8px 0px 8px rgba(0, 0, 0, 0.5);
}

.StaffSelectedApplicantsContent .semester-button-in-selected-applicants {
    border: none;
    background-color: white;
    color: #0056b3;
    cursor: pointer;
    font-size: 14px;
    height: 50px;
    width: 100%;
    padding: 10px 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.StaffSelectedApplicantsContent .semester-button-in-selected-applicants.active_semester_button_in_selected_applicants {
    background-color: #0056b3;
    background-color: rgb(131, 3, 3);
    color: white;
}

.StaffSelectedApplicantsContent .semester-button-in-selected-applicants span {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}



.StaffSelectedApplicantsContent .navigation {
    grid-row: 2;
    grid-column: 2;

    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(129, 133, 138);
}

.StaffSelectedApplicantsContent .navigation .title span {
    font-size: 20px;
    color: #fff;
    text-align: center;
    font-family: OpenSans-Bold, Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

.StaffSelectedApplicantsContent .navigation select {

    font-size: 18px;
    color: #333;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 1px;

    height: 30px;
    width: 400px;
    border: 1px solid rgb(131, 3, 3);
    border-radius: 5px;
    overflow-y: hidden;
}

.StaffSelectedApplicantsContent .navigation .sort_by_container select {
    width: 170px;
}

.StaffSelectedApplicantsContent .sort_by_container {
    display: inline-flex;
    gap: 7px;
    padding-right: 40px;
}

.StaffSelectedApplicantsContent option {
    margin: 5px;
}







.StaffSelectedApplicantsContent .selected_applicants_container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
    padding: 50px;
    padding-top: 30px;
}

.StaffSelectedApplicantsContent .selected_applicants_container .selected_applicant_item {
    display: grid;
    align-items: center;
    justify-content: flex-start;
    grid-template-rows: 50px auto;
    grid-template-columns: 7fr 1fr 1fr 1fr;
    gap: 10px;
    background-color: #fff;
    width: 98%;
    padding: 10px 20px;
    height: auto;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.selected_applicant_item span {
    font-size: 17px;
    color: #333;
    font-weight: 400px;
    text-transform: capitalize;
    font-family: OpenSans-Bold, Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

.selected_applicant_item button {
    line-height: 1.2;
    background-color: #fff;
    border: none;
    font-size: 15px;
}

.selected_applicant_item button:hover {
    font-size: 16px;
}

.selected_applicant_item .applicant_applied_courses_list {
    grid-row: 3 /4;
    column-span: 3;
    margin-top: 10px;
}

.selected_applicant_item .applicant_applied_courses_list .coursesListAppliedHeading {
    background-color: #fff;
    margin-bottom: 10px;
    height: 40px;
    align-items: center;
}

.selected_applicant_item .applicant_applied_courses_list .coursesListAppliedHeading span {
    color: #e04848;
}





.selected_applicant_item .applicant_assigned_courses_list {
    column-span: 3;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
    margin-top: 30px;
}

.selected_applicant_item .applicant_assigned_courses_list > span {
    color: #e04848;
}

.selected_applicant_item .applicant_assigned_courses_list .assigned_course_item {
    margin-left: 30px;
    width: 90%;
    display: grid;
    grid-template-columns: 4.5fr 1fr 1fr 3fr 1fr 1fr 1fr;
    gap: 5px;
}

.selected_applicant_item .applicant_assigned_courses_list .assigned_course_item span {
    text-align: left;
}

.selected_applicant_item .applicant_assigned_courses_list .edit_assigned_course_btn {
    background-color: rgb(108, 117, 125);
    height: 25px;
    width: 100%;
    color: white;
    border-radius: 5px;
}

.selected_applicant_item .applicant_assigned_courses_list .cancel_edit_assigned_course_btn {
    background-color: rgb(108, 117, 125);
    height: 25px;
    width: 100%;
    color: white;
    border-radius: 5px;
}

.selected_applicant_item .applicant_assigned_courses_list .update_course_assignment_btn {
    background-color: rgb(108, 117, 125);
    height: 25px;
    width: 100%;
    color: white;
    border-radius: 5px;
}

.selected_applicant_item .applicant_assigned_courses_list .cancel_edit_assigned_course_btn:hover {
    background-color: grey;
}

.selected_applicant_item .applicant_assigned_courses_list .remove_assigned_course_btn {
    background-color: rgb(108, 117, 125);
    height: 25px;
    width: 100%;
    color: white;
    border-radius: 5px;
}

.selected_applicant_item .applicant_assigned_courses_list .remove_assigned_course_btn:hover {
    background-color: grey;
}



.active_btn_in_applicant {
    color: red;
    border: none;
    transition: background-color 0.3s ease;
}




.selected_applicant_item .assigned_course_info,
.selected_applicant_item .assign_course_info {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    width: calc(100% - 60px);
    margin-left: 30px;
}

.selected_applicant_item .course_assignment_details {
    grid-column: 1 / -1;
    display: inline-flex;
    align-items: center;
    gap: 15px;
    width: calc(100% - 60px);
    margin-left: 30px;  
    background-color: #f0f0f0;
    height: 50px;
    padding-left: 50px;
}

.selected_applicant_item .course_assignment_details select {
    width: 40%;
}

.selected_applicant_item .course_assignment_details select,input {
    height: 30px;
}

.selected_applicant_item .course_assignment_details button {
    background-color: #f0f0f0;
}





.cancel_assign_course_btn {
    background-color: #e04848;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}






.selected_applicant_item .view_profile_btn {
    border: none;
    background-color: white;
    color: #157be1;
    font-size: 17px;
    margin: 0px;
    padding: 0;
    width: 100%;
    text-align: left;
    justify-content: start;
    transition: color 0.3s ease;
}

.view_profile_btn:hover {
    color: #e04848;
    box-shadow: none;
}

















.email-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-message-container {
    width: 70%;
    height: 75%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    padding: 20px;
    position: relative;
}

.email-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}



