

.StaffSemestersContent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 65px auto;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    background-color: white;
}

.StaffSemestersContent .semesters_title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 30px;
    height: 100%;
}

.StaffSemestersContent .semesters_title span {
    align-items: center;
    color: #003366;
    font-size: 25px;
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.StaffSemestersContent .add_semester_container {
    background-color: rgb(129, 133, 138);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.StaffSemestersContent .add_semester_container select {
    border-radius: 5px;
    border-color: white;
    border: 1px white solid;
    padding: 3px;
}

.StaffSemestersContent .add_semester_container .end_date_span {
    color: #fff;
    font-size: 22px;
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
}

.semesters_list_container {
    width: 80%;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px;
    row-gap: 20px;
}

.semesters_list_container .semester_item {
    height: 60px;
    width: 100%;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1.25fr 1fr 3fr 0.75fr 0.75fr;
    align-items: center;
    padding: 3px 10px 3px 50px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.semesters_list_container .semester_item span {
    color: #003366;
    font-size: 18px;
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 0;
    margin-bottom: 0px;
    text-transform: capitalize;
}

.semesters_list_container .semester_item button {
    margin-left: 10px;
    width: 80%;
}

.semester_item.activeSemester {
    border-left: 10px solid green;
}

.semester_item.activeSemester span {
    color: green;
}

.edit_row { 
    width: 100%;
    padding: 10px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit_row_content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5%;
    gap: 30px;
}

.edit_row_content > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.edit_row_content span {
    font-size: 18px;
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: red;
}

.edit_row_content button {
    margin-right: 20%;
}

