.StaffApplicantsContent {
    width: 100%;
    display: grid;
    grid-template-columns: 170px auto 240px;
    grid-template-rows: 100px auto;
}

.StaffApplicantsContent .department_title_container {
    width: 95%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto 30px auto;
        
    grid-column: 1 / 4;
        
    border: 0px solid rgba(0, 0, 0, 0.5);
    border-width: 0px 0px 0.5px 0px;
}

.StaffApplicantsContent .department_title_container span {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #003366;
}




.StaffApplicantsContent .semesters_container {
    width: 100%;
        height: 100%;
        background-color: white;
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 10px;
        margin: 12px 0px 0px 20px;
}

.StaffApplicantsContent .semester-button {
    border: none;
        background-color: white;
        color: #0056b3;
        cursor: pointer;
        font-size: 14px;
        height: 35px;
        width: 100%;
        padding: 10px;
        text-align: left;
        transition: background-color 0.3s ease, color 0.3s ease;
}

.StaffApplicantsContent .semester-button.active_semester_button {
    color: rgb(45, 59, 69);
        border-left: 4px solid rgb(45, 59, 69);
}

.StaffApplicantsContent .semester-button span {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}






.StaffApplicantsContent .navigation {
    width: 90%;
        height: 100%;
        margin: 12px auto 0px auto;
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 50px;
}

.export_applicants_btn_container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 10px;
    /* Optional spacing adjustment */
}

.export_applicants_btn {
    width: 180px;
    height: 40px;
    border: 0.5px solid rgb(199, 205, 209);
    border-radius: 1px;
    padding: 3px;
    background-color: rgb(245, 245, 245);

    font-size: 14px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #003366;
    text-transform: capitalize;
    cursor: pointer;
    /* Adds a pointer cursor */
}

.export_applicants_btn:hover {
    background-color: rgb(231, 229, 229);
}




.StaffApplicantsContent .course_selection_sortby_container .title span {
    font-size: 15px;
    color: #003366;
    text-align: center;
    font-family: OpenSans-Bold, Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

.StaffApplicantsContent .course_selection_container {
    display: inline-flex;
    gap: 7px;
}

.StaffApplicantsContent .course_selection_container select {

    font-size: 14px;
    color: #333;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 1px;

    height: 30px;
    width: 400px;
    border: 1px solid rgb(131, 3, 3);
    border-radius: 5px;
    overflow-y: hidden;
}

.StaffApplicantsContent .sort_by_container select {
    width: 100px;
}

.StaffApplicantsContent .sort_by_container {
    display: inline-flex;
    gap: 7px;
    padding-right: 40px;
}

.StaffApplicantsContent .course_selection_sortby_container option {
    margin: 5px;
}

.StaffApplicantsContent .course_selection_sortby_container .export_applicants_btn_container {
    width: 100%;
    background-color: #fff;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}







.applicant_list_details_Container {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 50px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    margin: 12px 10px;
    padding: 10px 10px 20px 10px;
}

.applicant_list_details_Container .course_selection_sortby_container {
    grid-column: 1/3;
        width: 100%;
        height: 100%;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-width: 0px 0px 1px 0px;
    
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 3px 0px 20px 10px;
}






.applicants_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
    background-color: #ffffff;
    margin: 12px 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-width: 0px 1px 0px 0px;
    max-height: calc(100vh - 230px);
    overflow-y: auto;
}

.applicants_container .applicant_item {
    background-color: #ffffff;
    border: none;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 10px 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-width: 0px 0px 1px 0px;
    box-sizing: border-box;
}

.applicant_item.active {
    background-color: aliceblue;
}

.applicant_item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/*
.applicant_item[data-applicant-status="selected"] {
    background-color: rgba(0, 128, 0, 0.171);
} */

.applicant_item .applicant_name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.applicant_item .applicant_name span {
    font-size: 16px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #003366;
}

.applicant_item .applicant_netid_gpa_program{
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.applicant_item .applicant_netid_gpa_program span {
    font-size: 14px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: black;
}





.applicant_details_container {
    width: 100%;
        height: 100%;
        padding: 10px 20px;
    
        display: flex;
        flex-direction: column;
        gap: 10px;
}

.applicant_details_container .applicant_main_details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    padding: 10px 0px 20px 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-width: 0px 0px 1px 0px;
}

.applicant_details_container .applicant_main_details span {
    font-size: 20px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #003366;
}



.applicant_details_container .applicant_btns {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px 0px 20px 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-width: 0px 0px 1px 0px;
}

.applicant_details_container .applicant_btns button {
    width: 150px;
    height: 40px;
    border: 0.5px solid rgb(199, 205, 209);
    border-radius: 1px;
    padding: 3px;
    background-color: rgb(245, 245, 245);

    font-size: 14px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #003366;
    text-transform: capitalize;
    cursor: pointer;
}

.applicant_details_container .applicant_btns button:hover {
    background-color: rgb(231, 229, 229);
}








.applicant_details_container .assigned_courses_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 0px 20px 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-width: 0px 0px 1px 0px;
}

.applicant_details_container .assigned_courses_list .assigned_courses_title {
    margin-bottom: 15px;
}

.applicant_details_container .assigned_courses_list .assigned_courses_title span {
    font-size: 18px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: black;
}

.assigned_course_item {
    width: 95%;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    margin: 0px 0px 15px 50px;
    display: grid;
    grid-template-columns: 3.5fr 1fr 0.75fr 1fr;
}

.assigned_course_item button {
    width: 70px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.assigned_course_item input {
    width: 80px;
}


.applicant_details_container .assigned_courses_list p {
    margin-left: 50px;
}








.applicant_details_container .applied_courses_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px 0px 20px 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-width: 0px 0px 1px 0px;
}

.applicant_details_container .applied_courses_list .applied_courses_title {
    margin-bottom: 15px;
}

.applicant_details_container .applied_courses_list .applied_courses_title span {
    font-size: 18px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: black;
}

.applicant_details_container .applied_courses_list .applied_course_item {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;

    padding-bottom: 10px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-width: 0px 0px 1px 0px;
}

.applicant_details_container .applied_courses_list .applied_course_item > div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.applicant_details_container .applied_courses_list .applied_course_item>div:nth-child(1) span {
    font-size: 17px;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica,Arial, sans-serif;
        font-weight: 400;
        color: #003366;
}

.applicant_details_container .applied_courses_list .applied_course_item>div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
}

.applicant_details_container .applied_courses_list .applied_course_item>div:nth-child(2) span {
    font-size: 15px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: black;
}

.applicant_details_container .applied_courses_list svg {
    margin-left: 10px;
}

.applicant_details_container .comments_title {
    font-size: 15px;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        color: black;
        margin-right: 20px;
}

.applicant_details_container .comments_value {
    font-size: 14px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: black;
    margin-right: 20px;
}









.applicant_applied_courses_list {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    background-color: #f0f4f8;
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

.applicant_applied_courses_list.show {
    opacity: 1;
    max-height: 3000px;
    /* Allow for smooth expansion */
    transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
}

.applicant_applied_courses_list .course_list_heading {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 0.75fr 0.75fr 120px 4fr;
    gap: 3px;
    margin-left: 20px;
    width: 96%;
    border-bottom: 2px solid #333;
    font-weight: 300;
    padding: 10px 0px;
}

.applicant_applied_courses_list .course_item {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 0.75fr 0.75fr 120px 4fr;
    gap: 3px;
    margin-left: 20px;
    width: 96%;
    border-bottom: 1px solid #ddd;
    font-weight: 300;
    padding: 10px 0px;
}

.toggle_courses_btn {
    cursor: pointer;
    transition: transform 0.3s ease;
}














#ApplicantTypeAndfieldSelectionPopup {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 20px;
}

#ApplicantTypeAndfieldSelectionPopup > div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 20px;
}

.fieldSelectionGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.fieldSelectionGrid > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.span-two-columns {
    grid-column: span 2;
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding-right: 30px;
}

.buttons-container button {
    padding: 5px 15px; /* Add some padding inside the buttons */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons-container button:hover {
    background-color: #0056b3;
}

/* Overlay to dim background */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.exportoverlay {
    display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 999;
}

.confirmation-model-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.overlay button {
    margin: 10px;
}





















.profile_container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
}

.profile_container span {
    font-size: 17px;
    color: #333;
    font-weight: 300;
    text-transform: capitalize;
    font-family: OpenSans-Bold, Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    text-align: center;
    margin-right: 20px;
}

.profile_container div span:first-child {
    font-size: 18px;
    color: #2c3e50;
    font-weight: 400;
}

.profile_container .profile_resume span:first-child {
    font-weight: 400;
    color: rgb(131, 3, 3);
}

.profile_container .profile_transcripts span:first-child {
    font-weight: 400;
    color: rgb(131, 3, 3);
}

.profile_container .profile_credits_will_register span:first-child {
    font-size: 16px;
}

.profile_container div {
    margin-bottom: 15px;
}


.close_profile_btn {
    background-color: #ff5f5f;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    float: right;
}

.close_profile_btn:hover {
    background-color: #e04848;
}











.assignCoursePopUpOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.assignCoursePopUpContent {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 500px;
    height: 300px;
    max-width: 90%;
    text-align: start;
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.assignCoursePopUpContent .assign_course_title {
    font-size: 18px;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        color: black;
}

.assignCoursePopUpContent form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: column;
}

.assignCoursePopUpContent .btn_container {
    align-self: flex-end;
    justify-self: flex-end;
}





