.StaffDepartmentsContent{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 65px auto;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    background-color: white;
}

.StaffDepartmentsContent .departments_title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 30px;
    height: 100%;
}

.StaffDepartmentsContent .departments_title span {
    align-items: center;
    color: #003366;
        font-size: 25px;
        font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        letter-spacing: 1px;
        margin-bottom: 0px;
        text-transform: uppercase;
}

.StaffDepartmentsContent .add_department_container {
    background-color: rgb(129, 133, 138);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.departments_content .add_department_container input {
    border-radius: 5px;
    border-color: white;
    border: 1px white solid;
    padding: 3px;
}

.departments_content .add_department_container input:nth-child(2) {
    width: 400px;
}

.departments_list_container {
    width: 85%;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 20px;
}

.departments_list_container .dept_item {
    display: grid;
    grid-template-columns: 1fr 4fr 1.5fr 1fr;
    gap: 20px;
    align-items: center;
    padding: 10px;
    background-color: rgb(236, 239, 241);
    background-color: #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.departments_list_container .dept_item span {
    color: #003366;
    font-size: 18px;
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 0;
    margin-bottom: 0px;
    text-transform: capitalize;
}

.departments_list_container .dept_item .dept_abbre span {
    text-transform: uppercase;
    font-weight: 500;
}

.departments_list_container .dept_item .programs_list {
    grid-column: span 4;
    display: none;
    padding: 15px 10px;
    background-color: rgb(220, 220, 220);
    margin-top: 10px;
    gap: 15px;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.departments_list_container .dept_item .program_item {
    border: 1px solid #ccc;
    margin-bottom: 5px;
    background-color: #fff;
    width: 90%;
    padding: 10px 10px 10px 30px;
    margin: 0px 30px 15px auto;
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    grid-template-rows: 1fr;
}

.departments_list_container .dept_item .program_item .no_courses_available {
    column-span: 4;
    width: 100%;
}

.departments_list_container .dept_item .program_item .no_courses_available {
    grid-column: span 4;
    width: 100%;
    padding: 10px;
    font-size: 15px;
}

.departments_list_container .add_program_container {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 10px 5px 15px 5px
}